.nev{
    background-color: rgb(2, 1, 61);
        padding: 30px;
        height: 20px;
        width: 6666px;
        text-decoration: none;

    }

#navelements{

    display: inline;
    text-align: right;
    text-transform: capitalize;
    }
#navelement{
text-decoration: none;
text-transform: capitalize;
letter-spacing: 2px;
color: white;
margin: 0 16px;
font-size: 1.5vw;

}
#navelement:hover{

color: rgb(48, 1, 59);
margin: 0 16px;
font-size: 1.6vw;

}