{% extends 'Doctor_app\Doctor_base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <a href="{{doctorExtra.Profilephoto.url}}"><img src="{{doctorExtra.Profilephoto.url}}" class="img-fluid" style=" height: 150px; width: 200px;"></a>
          
          <h5 class="my-3"></h5>
          <p class="text-muted mb-1">Doctor</p>
          <p class="text-muted mb-4">India</p>
          <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-primary">Contact</button>
            
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-lg-8">
      <div class="col-md-9">
        <div class="card card-body">
            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                {{form2}}
                <br>
                <button type="submit" class="btn btn-primary my-2">submit</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content %}