{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/doctor_Home.css'%}">
    <title>Document</title>
</head>
<body >
    <div class="nev">
        <li id="navelements"><a id="navelement" href="Home">home</a></li>
       <li id="navelements"><a  id="navelement" href="Doctor_Signin"> Doctor Signin</a></li>
       <li id="navelements"><a id="navelement"  href="Doctor_Signup">Doctor Signup</a></li>
    </div>
    <div class="bg">
    </div>
</body>
</html>