{% extends 'Doctor_app\Doctor_base.html' %}
{% load static %}
{% block content %}
<div class="alert alert-light" role="alert">
  {{i}}
 </div>
<form method="POST">
   {% csrf_token %}
  <div class="card border border-dark mx-3 my-3" >
   <div class="row g-4 mx-3 my-3 ">
      <div class="col" style="max-width:52%;">
        <input type="text" class="form-control" placeholder="Patient name " name="Patient_user_name" required>
      </div>
      <div class="col" style="max-width:52%;">
        <input type="password" class="form-control" placeholder="Patient Passcode " name="Patient_Passcode" required>
      </div>
    </div>
    <button type="submit" class="btn btn-dark mx-auto my-1" style="max-width:20%;">Search</button>
  </div> 
</form>
{% endblock content %}