{% extends 'Patient_app\Patient_base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="row g-3 mx-3 my-3 ">
 <div class="accordion" id="accordionExample">
     
        {% for i in prescription %}
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{'i'}}" aria-expanded="true" aria-controls="{{'i'}}">
                    {{i.Prescription_date}}
                </button>
            </h2>
            <div id="{{'i'}}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                <strong>Prescription by: {{i.Doctor_name}}</strong> <p>{{i.Prescription_text}}</p>
                <p>{{i.special_advice}}</p>
                </div>
            </div>
            </div>
            
        {% endfor %} 
        
    </div>
</div>
<br>
<br>
     

{% endblock content %}


